/* woff2: latest format */
/* woff2: most supported format */

@font-face {
  font-family: "Amazon Ember";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/AmazonEmber_Bd.woff2") format("woff2"),
    url("../assets/fonts/AmazonEmber_Bd.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Amazon Ember";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/AmazonEmber_Lt.woff2") format("woff2"),
    url("../assets/fonts/AmazonEmber_Lt.woff") format("woff");
  font-display: swap;
}
